<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
<h1>Formulario</h1> 
<hr>
<h2> Datos personales</h2>
    <form action="link">
<label for="firstname">Nombre:</label>
    <input size="30" type="text" name="firstname" id="firstname" ><br>
    <label for="firstname">Apellido</label>
    <input size="30" type="text" name="firstname" id="firstname"> <br>
    <label for="date">
        Fecha de nacimiento:
    <input type="date"> <br>
    <label for="edad">Edad:<label>
    <input size="1" type="number" > <br>
    <br>
    Sexo:
    <input type="checkbox" name="opcion1" value="1"> Masculino
    <input type="checkbox" name="opcion2" value="2"> Femenino
    <input type="checkbox" name="opcion3" value="3"> Otro <br>
<hr>
<h2>Areas a desarollar</h2>
    <input type="checkbox" name="opcion1" value="1"> App web <br>
    <input type="checkbox" name="opcion2" value="2"> Analisis de datos <br>
    <input type="checkbox" name="opcion3" value="3"> Desarrollos de juegos <br>

    
    
    <input type="submit" value="Enviar">
    <input type="reset" value="BORRAR">
</form>
</body>
</html>