<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Galeria</title>
    <link rel="stylesheet" href="../css/galeria.css">
</head>
<body>

    <header>
        <h1 id="titulo">Titulo LULE</h1>
    </header>
    <section class="selector-1">
        <p>Titulo seccion 1</p>
    </section>

    <div class="card">
        <h5>hamburguesa LULE!</h5>
        <img src="../img/hamburguesa.jpg" alt="hamburhguesa">
        <p>Veni a probarla</p>
    </div>
    

    <section class="selector-3">

    </section>
</body>
</html>