<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="" method="post" target="_blank" > 
        <div class="form">
            <label for="Boton">Boton</label>
            <input type="submit" value="Enviar" name="Boton" id="Boton">
            <label for="Nombre">Nombre</label>
            <input type="text" value="Nombre" name="Nombre" id="Nombre" readonly>
            <input type="password" name="Pass" id="Pass" placeholder="password" required>
            <input type="checkbox" name="Check" id="Check" value="1"> Opcion 1 
            <input type="radio" name="Radio" id="Radio" value="1"> Opcion 1
            <input type="radio" name="Radio" id="Radio" value="2"> Opcion 2
            <textarea name="textArea" id="textArea" cols="30" rows="10">bla bla</textarea>
            <select name="Turno" id="Turno">
                <option value="1">Opcion 1</option>
            </select>
        </div>
    </form>
</body>
</html>